.fetch-error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  filter: grayscale(100%);
  background-image: url("http://localhost:8080/images/fetcherror/fetcherror.jpg");
  background-size: cover;
  background-position: center;
}

.fetch-error-content {
  text-align: center;
}

.fetch-error-content h1 {
  margin-bottom: 20px;
}
