button:focus {
  outline: 0 !important;
}

.empty-cart {
  height: 50vh;
}

.cart-button {
  min-width: 0;
  padding: 10px;
  outline: 0;
  border: 0;
  border-radius: 50%;
}

.cart-item-font-size {
  font-size: var(--h3-font-size);
}

.quantity-checker {
  background-color: transparent;
  border: 0.8px solid var(--light-grey);
  width: 85px;
  text-align: center;
  padding: 5px;
}

.quantity-chercker-button {
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

.coupon-input {
  color: var(--paragraph-color);
  height: 40px;
  border-radius: 0;
  font-size: 0.9rem;
  padding: 10px;
  border: 0.6px solid var(--black);
}

.delete-all-items {
  display: flex;
  cursor: pointer;
  gap: 6px;
  align-items: center;
}

.delete {
  transition: all 0.3s linear;
  cursor: pointer;
}

.delete:hover {
  color: var(--error);
}

.breadcrumb-anchor-cart {
  color: var(--paragraph-color) !important;
  text-decoration: none !important;
}

.breadcrumb-item.active {
  color: var(--dark-gold) !important;
}

.cart-items-container {
  height: 400px;
  overflow-y: auto;
  position: relative;
}

@media only screen and (max-width: 1023px) {
  .empty-cart-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
