:root {
    --dark-grey: #252525;
    --medium-grey: #666;
    --light-grey: #d2d2d2;
    --ultra-light-grey: #f4f4f4;
    --dark-blue: #003150;
    --background-dark-blue: #001f33;
    --bright-blue: #3d9ce3;
    --brown: #817656;
    --white: #fff;
    --black: #000;
    --error: #bd0000;
    --success: #33ab1f;
    --header-height: 70px;
    --anim-ease-out: cubic-bezier(0.32,0.71,0.42,0.94);
}

.navbar-brand-logo{
    width: 128px;
    height: 50px;
}

.custom-navbar {
    background-color: var(--ultra-light-grey);
}

/* .bottom-bar {
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    transform: translateY(100%);
  }
  
  .bottom-bar.visible {
    transform: translateY(0);
  } */


  
  
  