:root {
    --dark-grey: #252525;
    --medium-grey: #666;
    --light-grey: #d2d2d2;
    --ultra-light-grey: #f4f4f4;
    --dark-blue: #003150;
    --background-dark-blue: #001f33;
    --bright-blue: #3d9ce3;
    --brown: #817656;
    --white: #fff;
    --black: #000;
    --error: #bd0000;
    --success: #33ab1f;
    --header-height: 70px;
    --anim-ease-out: cubic-bezier(0.32,0.71,0.42,0.94);
}

.navbar-brand-logo{
    width: 128px;
    height: 50px;
}

.nav-link{
    color: #000000;
    opacity: 0.8;
    font-weight: 600;
    font-size: .95rem;
}

.navbar-toggler{
    font-size: 1.7rem;
    transition: transform 0.3s ease;
    color: var(--dark-blue);
    border: none;
    outline: none;
}

.navbar-toggler.open{
  transform: rotate(90deg);
}

.custom-navbar {
    background-color: var(--ultra-light-grey);
}

.icon-size{
    font-size: 1.3rem;
    font-weight: 100;
}

.pi-search, .pi-user, .pi-shopping-cart {
    color: var(--background-dark-blue); 
    cursor: pointer;
}

.nav-link:hover, .pi-search:hover, .pi-user:hover, .pi-shopping-cart:hover, .navbar-toggler:hover{
    color: var(--bright-blue);
    transition: .3s all ease;
}
  
@keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
  
  .collapse.navbar-collapse {
    animation-duration: 0.3s;
    &.show {
      animation-name: slideIn;
    }
    &.hide {
      animation-name: slideOut;
    }
  }
  

  
  
  