.grid-container {
    height: 50rem;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column; /* Elemek egymás alá rendezése */
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .grid-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1px;
  }
  
  .grid-row {
    display: flex;
  }
  
  .node {
    width: 30px;
    height: 30px;
    background-color: white;
    outline: 1px solid rgba(147, 132, 132, 0.75);
    display: inline-block;
  }
  
  .text {
    position: relative;
    z-index: 1;
    font-size: 4rem;
    font-weight: bold;
    background-clip: text;
    background-image: linear-gradient(to bottom, #ddd, #888);
    padding: 20px;
  }
  