.card-icon {
  font-size: 20px;
}

.custom-card {
  border: 0.8px solid var(--paragraph-color);
}

.custom-card:hover,
.custom-card-active {
  transition: all 0.6s linear;
  color: var(--card-text-color);
  background-color: var(--card-body-color);
  border: 0.8px solid var(--border-hover-color) !important;
}

@media (min-width: 380px) {
  .custom-card {
    min-width: 100px;
    min-height: 100px;
    cursor: pointer;
  }
}

@media (min-width: 992px) {
  .custom-card {
    min-width: 130px;
    min-height: 100px;
    cursor: pointer;
  }
}
