.border-color {
  /* border: 0.8px solid var(--ultra-light-grey) !important; */
  border: 0.8px solid red;
  border-radius: 1.5px;
}

.faq-button {
  font-size: 0.75rem;
  display: inline-flex;
  align-items: center;
  column-gap: 5px;
  text-decoration: none;
  color: var(--dark-gold);
  text-transform: uppercase;
}

.faq-button i {
  transition: transform 0.4s;
  font-size: 0.8rem;
}

.faq-button i:hover {
  transform: translateX(0.25rem);
}

.faq-button:hover {
  transition: all 0.4s ease;
}

.faq-header {
  color: white;
}

.faq-header,
.faq-header-support {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.breadcrumb {
  top: 30%;
}

.nav-pills:hover  {
  color: white;
}

.nav-pills .nav-link.active{
  background-color: var(--black);
  color: var(--ultra-light-grey);
}

.button-image-text{
  margin-bottom: 0rem;
  padding: 0.2rem 0.8rem;
}