.search-form-control {
  border-radius: 0;
  font-size: 0.9rem;
  padding: 13.7px;
  border: 0.6px solid var(--black);
  display: inline;
  width: auto;
}

.search-form-control:focus {
  border-color: var(--dark-gold) !important;
  box-shadow: 0 0 0 0.2rem rgba(236, 177, 89, 0.25) !important;
}

.search-button {
  min-width: 25%;
}

@media (min-width: 320px) {
  .search-form-control,
  .search-button {
    width: 200px !important;
    justify-content: center;
    display: flex;
    margin-top: 10px;
  }
}

@media screen and (max-width: 480px) {
  .search-form-control,
  .search-button {
    width: 160px;
  }
}

@media screen and (min-width: 481px) {
  .search-form-control,
  .search-button {
    width: auto;
  }
}
